.grid {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
* {
  box-sizing: inherit;
}
:root {
  --height-header: 125px;
}
html {
  /* HACK */
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Responsive */

.grid {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/* Test */
.grid__column-2 {
  width: 3%;
  height: 100%;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 91%;
}
.grid__column-12 {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}
.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-4 {
  width: 40%;
}
.grid__column-8 {
  width: 60%;
}
.grid__column-2-10 {
  width: 80%;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Modal */

.modal {
  display: none;
  position: absolute;
  top: var(--height-header); /* khoảng cách từ header xuống */
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Hiện modal khi hover vào #catalogs hoặc modal */
#catalogs:hover ~ #modal,
#modal:hover {
  display: block;
}
